<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block siwe_title %}Sign in with Ethereum{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block siwe_head %}{% endblock %}
</head>
<body>
  {% block siwe_content %}
  <main>
    <h1>Sign in with Ethereum</h1>
    {% include siwe_form_template_name %}
  </main>
  {% endblock %}

  {% block siwe_scripts %}
  {% include siwe_script_template_name %}
  {% endblock %}
</body>
</html>
